body {
    background-color: #343E3D;
  }
  p {
    color: #fff;
  }
  h1 {
    color: #fff;
  }
  h2 {color: #fff;
  }
  .navigation {
    background-color: #607466;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    margin-left: 10px;
  }
  
  button {
    background-color: #607466;
    border: none;
    padding: 15px 32px;
    display: inline-block;
    -webkit-text-fill-color: #fff;
    font-size: medium;
  }
  .logo img {
    width: 105px;
    height: auto;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
  }
  
  .heroimg {
    background-color: #0D0D0D;
    height: auto;
    padding: 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  
  .content {
    flex: 1;
  }
  
  .image {
    margin-left: 50px;
  }
  
  .image img {
    max-width: 100%;
  }
  
  .heroimg h2,
  .heroimg h1,
  .heroimg p {
    color: #fff;
  }
  
  button {
    background-color: #607466;
    border: none;
    padding: 15px 32px;
    -webkit-text-fill-color: #fff;
    font-size: medium;
  }
  
  .footer {
    background-color: #607466;
    padding: 25px;
    margin: 0% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }